<style>
@keyframes movement {
    from {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate('{{readingSpeed}}' + deg);
    }
  }

  @keyframes niddle {
    from {
      transform: rotate(-90deg);
    }
    to {
      transform: rotate('{{niddleSpeed}}'+ deg);
    }
  }
</style>

  
<div class="speedometerWrap">
  <h1>Speedometer</h1>
  <div class="speedometer">
    <div class="speedometerReading" 
      [style.transform]="'rotate(' + readingSpeed  + 'deg)'">
    </div>
    <div class="speedometerReadingBase"></div>
    <div class="speedometerCentreCircle">
      <span [style.transform]="'rotate(' + niddleSpeed  + 'deg)'"></span>
    </div> 
    <div class="speedometerBase"></div>   
  </div>
  <div class="meterRead">
    <div class="meterValue">{{ speedScore }}</div>
    <input type="number" min='0' max='100' [(ngModel)]='speedScore' class="form-control" (keyup)="getSpeed(speedScore)" (click)="getSpeed(speedScore)">
    <br/>
    <span class="range">(Min: 0 | Max: 100)</span>
  </div>    
</div>
